In [44]:
# import googlemaps
# from datetime import datetime

# gmaps = googlemaps.Client(key='AIzaSyCpvPbDt3iFart1-C717bEmrBlBMllWdss')

In [45]:
# a = gmaps.geocode('2810 Yonge Street, Toronto')

In [46]:
# from arcgis.gis import GIS
# from arcgis.features import SpatialDataFrame

In [47]:
# gis = GIS("https://www.arcgis.com", "azhuang")

In [1]:
import pandas as pd
from tqdm import tqdm
import re

from arcgis.gis import *
from arcgis.geocoding import geocode, reverse_geocode
from arcgis.geometry import Point
%matplotlib inline

In [2]:
df = pd.DataFrame()
import glob


for filename in glob.glob('./2018 Tournaments/*.csv'):
    df_temp = pd.read_csv(filename)
    del df_temp['Unnamed: 0']
    df = df.append(df_temp)

for filename in glob.glob('./2017 Tournaments/*.csv'):
    df_temp = pd.read_csv(filename)
    del df_temp['Unnamed: 0']
    df = df.append(df_temp)

c:\users\andrew.zhuang\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [3]:
df

,COUNTRIES,EVENT,PLAYERS,SCORES,match_location,match_week
0,"['[SWE] ', '[GER] ']",MS,"['Jacob Nilsson', 'Kai Schaefer']","['21-14', '22-20']","Huelva, Spain",20180424
1,"['[SUI] ', '[RUS] ']",WS,"['Sabrina Jaquet', 'Natalia Perminova']","['21-17', '13-21', '21-17']","Huelva, Spain",20180424
2,"['[RUS] ', '[RUS] ', '[ENG] ', '[ENG] ']",XD,"['Rodion Alimov', 'Alina Davletova', 'Ben Lane...","['21-19', '27-25']","Huelva, Spain",20180424
3,"['[ENG] ', '[ENG] ', '[NED] ', '[NED] ']",XD,"['Marcus Ellis [3]', 'Lauren Smith', 'Robin Ta...","['17-21', '21-11', '21-15']","Huelva, Spain",20180424
4,"['[FRA] ', '[FRA] ', '[NED] ', '[NED] ']",XD,"['Bastian Kersaudy', 'Lea Palermo', 'Jelle Maa...","['23-21', '21-12']","Huelva, Spain",20180424
5,"['[RUS] ', '[CZE] ']",MS,"['Sergey Sirant', 'Milan Ludik']","['21-11', '21-11']","Huelva, Spain",20180424
6,"['[DEN] ', '[DEN] ', '[IRL] ', '[IRL] ']",XD,"['Mathias Christiansen [2]', 'Christinna Peder...","['21-18', '21-16']","Huelva, Spain",20180424
7,"['[DEN] ', '[DEN] ', '[FRA] ', '[FRA] ']",XD,"['Joachim Fischer Nielsen', 'Alexandra BÃ¸je', ...","['21-16', '23-21']","Huelva, Spain",20180424
8,"['[GER] ', '[BUL] ']",WS,"['Luise Heim', 'Linda Zetchiri']","['21-19', '21-17']","Huelva, Spain",20180424
9,"['[ENG] ', '[FRA] ']",MS,"['Toby Penty', 'Lucas Claerbout']","['21-10', '21-7']","Huelva, Spain",20180424
10,"['[ENG] ', '[AUT] ']",MS,"['Sam Parsons', 'Luka Wraber']","['21-19', '23-21']","Huelva, Spain",20180424
11,"['[SVK] ', '[SVK] ', '[AUT] ', '[AUT] ']",XD,"['Milan Dratva', 'Martina Repiska', 'Dominik S...","['21-17', '17-21', '21-15']","Huelva, Spain",20180424
12,"['[BEL] ', '[HUN] ']",WS,"['Lianne Tan', 'Agnes Korosi']","['21-19', '21-19']","Huelva, Spain",20180424
13,"['[HUN] ', '[ITA] ']",MS,"['Gergely Krausz', 'Rosario Maddaloni']","['21-18', '21-18']","Huelva, Spain",20180424
14,"['[GER] ', '[FIN] ']",MS,"['Alexander Roovers', 'Kalle Koljonen']","['21-18', '14-21', '21-16']","Huelva, Spain",20180424
15,"['[CZE] ', '[POR] ']",MS,"['Adam Mendrek', 'Duarte Nuno Anjo']","['21-14', '21-14']","Huelva, Spain",20180424
16,"['[NED] ', '[NED] ', '[SUI] ', '[SUI] ']",XD,"['Jacco Arends [4]', 'Selena Piek', 'Oliver Sc...","['21-14', '21-11']","Huelva, Spain",20180424
17,"['[FIN] ', '[SVK] ']",WS,"['Airi Mikkela', 'Martina Repiska']","['21-12', '21-10']","Huelva, Spain",20180424
18,"['[SUI] ', '[MDA] ']",MS,"['Christian Kirchmayr', 'Cristian Savin']","['21-17', '22-20']","Huelva, Spain",20180424
19,"['[FRA] ', '[FRA] ', '[CZE] ', '[CZE] ']",XD,"['Ronan Labar [8]', 'Audrey Fontaine', 'Jakub ...","['21-15', '21-17']","Huelva, Spain",20180424
20,"['[ESP] ', '[CRO] ']",MS,"['LuÃ­s Enrique PeÃ±alver', 'Zvonimir Durkinjak']","['21-19', '13-21', '21-13']","Huelva, Spain",20180424
21,"['[UKR] ', '[WAL] ']",WS,"['Maria Ulitina', 'Jordan Hart']","['22-20', '19-21', '21-14']","Huelva, Spain",20180424
22,"['[TUR] ', '[ESP] ']",WS,"['Aliye Demirbag', 'Clara Azurmendi']",[],"Huelva, Spain",20180424
23,"['[DEN] ', '[DEN] ', '[EST] ', '[EST] ']",XD,"['Niclas Nohr', 'Sara Thygesen', 'Sander Merit...","['21-9', '21-11']","Huelva, Spain",20180424
24,"['[GER] ', '[GER] ', '[UKR] ', '[UKR] ']",XD,"['Marvin Emil Seidel [7]', 'Linda Efler', 'Art...","['21-15', '21-11']","Huelva, Spain",20180424
25,"['[DEN] ', '[AZE] ']",MS,"['Jan O Jorgensen', 'Orkhan Galandarov']","['21-3', '21-7']","Huelva, Spain",20180424
26,"['[ROU] ', '[CYP] ']",MS,"['Collins Valentine Filimon', 'Elias Nicolaou']","['21-8', '16-21', '21-11']","Huelva, Spain",20180424
27,"['[ENG] ', '[CRO] ']",WS,"['Chloe Birch', 'Maja Pavlinic']","['21-18', '21-11']","Huelva, Spain",20180424
28,"['[IRL] ', '[ISL] ']",MS,"['Nhat Nguyen', 'Kari Gunnarsson']","['21-16', '21-17']","Huelva, Spain",20180424
29,"['[GER] ', '[CYP] ']",WS,"['Yvonne Li', 'Eleni Christodoulou']","['21-6', '21-3']","Huelva, Spain",20180424
...,...,...,...,...,...,...
116,"['[NGR] ', '[ZAM] ']",WS,"['Grace Gabriel', 'Ogar Siamupangila [3]']","['21-18', '21-16']",NaN,20171130
117,"['[NGR] ', '[UGA] ']",WS,"['Dorcas Ajoke Adesokan [4]', 'Bridget Shamim ...","['21-19', '24-22']",NaN,20171130
118,"['[MRI] ', '[RSA] ']",WS,"['Kate Foo Kune [2]', 'Johanita Scholtz']","['21-16', '21-12']",NaN,20171130
119,"['[MRI] ', '[MRI] ', '[ZAM] ', '[ZAM] ']",MD,"['Aatish Lubah [1]', 'Georges Julien Paul', 'M...","['21-10', '21-9']",NaN,20171130
120,"['[SVK] ', '[GER] ', '[MOZ] ', '[MOZ] ']",MD,"['Matej Hlinican', 'Jonathan Persson', 'Idriss...","['21-12', '21-10']",NaN,20171130
121,"['[ZAM] ', '[ZAM] ', '[ZAM] ', '[ZAM] ']",MD,"['Chongo Ezra Mulenga [3]', 'Kalombo Mulenga',...","['21-13', '21-11']",NaN,20171130
122,"['[IND] ', '[IND] ', '[ZAM] ', '[ZAM] ']",MD,"['Kapil Chaudhary', 'Brijesh Yadav', 'Dalitso ...","['21-13', '21-6']",NaN,20171130
123,"['[ITA] ', '[ITA] ', '[ZAM] ', '[ZAM] ']",WD,"['Silvia Garino [1]', 'Lisa Iversen', 'Lorain ...","['21-1', '21-1']",NaN,20171130
124,"['[BOT] ', '[BOT] ', '[ZAM] ', '[ZAM] ']",WD,"['Botho Makubate', 'Leungo Bronia Tshweneetsil...","['21-5', '21-13']",NaN,20171130
125,"['[UGA] ', '[UGA] ', '[ZAM] ', '[ZAM] ']",WD,"['Bridget Shamim Bangi', 'Aisha Nakiyemba', 'E...","['21-19', '21-6']",NaN,20171130
126,"['[ZAM] ', '[ZAM] ', '[ALG] ', '[ALG] ']",WD,"['Elizaberth Chipeleme', 'Ngandwe Miyambo', 'H...",[],NaN,20171130
127,"['[ISR] ', '[ISR] ', '[ZAM] ', '[ZAM] ']",XD,"['Misha Zilberman [1]', 'Svetlana Zilberman', ...","['21-4', '21-12']",NaN,20171130
128,"['[ZAM] ', '[ZAM] ', '[ZAM] ', '[ZAM] ']",XD,"['Kalombo Mulenga', 'Elizaberth Chipeleme', 'C...","['21-7', '21-1']",NaN,20171130
129,"['[GER] ', '[MRI] ', '[EGY] ', '[EGY] ']",XD,"['Jonathan Persson', 'Kate Foo Kune', 'Abdelra...","['21-10', '21-17']",NaN,20171130
130,"['[ZAM] ', '[ZAM] ', '[BOT] ', '[BOT] ']",XD,"['Juma Muwowo [2]', 'Ogar Siamupangila', 'Tumi...","['15-21', '21-8', '21-9']",NaN,20171130
131,"['[ISR] ', '[ISR] ', '[ZAM] ', '[ZAM] ']",XD,"['Misha Zilberman [1]', 'Svetlana Zilberman', ...","['21-11', '21-7']",NaN,20171130
132,"['[GER] ', '[MRI] ', '[ZAM] ', '[ZAM] ']",XD,"['Jonathan Persson', 'Kate Foo Kune', 'Juma Mu...","['21-12', '21-19']",NaN,20171130
133,"['[ISR] ', '[BEL] ']",MS,"['Misha Zilberman [1]', 'Maxime Moreels [3]']","['21-14', '21-14']",NaN,20171130
134,"['[GER] ', '[MRI] ']",MS,"['Jonathan Persson', 'Georges Julien Paul [4]']","['21-11', '21-19']",NaN,20171130
135,"['[ISR] ', '[NGR] ']",WS,"['Ksenia Polikarpova [1]', 'Grace Gabriel']","['21-13', '21-0']",NaN,20171130
136,"['[MRI] ', '[NGR] ']",WS,"['Kate Foo Kune [2]', 'Dorcas Ajoke Adesokan [...","['21-13', '15-21', '21-14']",NaN,20171130
137,"['[ITA] ', '[ITA] ', '[ZAM] ', '[ZAM] ']",WD,"['Silvia Garino [1]', 'Lisa Iversen', 'Elizabe...","['21-12', '21-8']",NaN,20171130
138,"['[UGA] ', '[UGA] ', '[BOT] ', '[BOT] ']",WD,"['Bridget Shamim Bangi', 'Aisha Nakiyemba', 'B...","['21-16', '21-8']",NaN,20171130
139,"['[MRI] ', '[MRI] ', '[SVK] ', '[GER] ']",MD,"['Aatish Lubah [1]', 'Georges Julien Paul', 'M...","['21-17', '17-21', '21-18']",NaN,20171130
140,"['[IND] ', '[IND] ', '[ZAM] ', '[ZAM] ']",MD,"['Kapil Chaudhary', 'Brijesh Yadav', 'Chongo E...","['21-17', '21-17']",NaN,20171130
141,"['[ISR] ', '[GER] ']",MS,"['Misha Zilberman [1]', 'Jonathan Persson']","['21-15', '21-17']",NaN,20171130
142,"['[MRI] ', '[ISR] ']",WS,"['Kate Foo Kune [2]', 'Ksenia Polikarpova [1]']","['14-21', '21-16', '21-18']",NaN,20171130
143,"['[MRI] ', '[MRI] ', '[IND] ', '[IND] ']",MD,"['Aatish Lubah [1]', 'Georges Julien Paul', 'K...","['21-17', '21-23', '21-11']",NaN,20171130
144,"['[ITA] ', '[ITA] ', '[UGA] ', '[UGA] ']",WD,"['Silvia Garino [1]', 'Lisa Iversen', 'Bridget...","['21-17', '21-15']",NaN,20171130
145,"['[GER] ', '[MRI] ', '[ISR] ', '[ISR] ']",XD,"['Jonathan Persson', 'Kate Foo Kune', 'Misha Z...",[],NaN,20171130

In [6]:
len(df[df['match_location'].isnull()])/len(df)

0.33361767465665787

In [2]:
dev_gis = GIS()

In [53]:
# Join the files
df = pd.DataFrame()
import glob


for filename in glob.glob('./2018 Tournaments/*.csv'):
    df_temp = pd.read_csv(filename)
    del df_temp['Unnamed: 0']
    df = df.append(df_temp)

for filename in glob.glob('./2017 Tournaments/*.csv'):
    df_temp = pd.read_csv(filename)
    del df_temp['Unnamed: 0']
    df = df.append(df_temp)

#Must have location
df = df[df['match_location'].isnull() == False]

c:\users\andrew.zhuang\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [66]:
#Get the locations in the form of Longatude and latitude

from arcgis.gis import *
from arcgis.geocoding import geocode, reverse_geocode
from arcgis.geometry import Point

df_countries = pd.read_csv('country_list.csv', encoding='Latin-1')
# del df_countries['Unnamed: 0']

ylong = []
xlat = []
for country in tqdm(df_countries['Country or Area Name']):
    xlat.append(geocode(country)[0]['attributes']['DisplayX'])
    ylong.append(geocode(country)[0]['attributes']['DisplayY'])
df_countries['Coordinates_x'] = xlat
df_countries['Coordinates_y'] = ylong
# df_countries.to_csv('country_list.csv')

location = []
ylong = []
xlat = []

for loc in tqdm(df['match_location'].unique()):
    location.append(loc)
    xlat.append(geocode(loc)[0]['attributes']['DisplayX'])
    ylong.append(geocode(loc)[0]['attributes']['DisplayY'])
df_ml = pd.DataFrame()
df_ml['match_location'] = location
df_ml['Coordinates_x'] = xlat
df_ml['Coordinates_y'] = ylong

100%|ââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââ| 287/287 [02:16<00:00,  2.11it/s]
100%|ââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââââ| 68/68 [00:35<00:00,  1.90it/s]

In [67]:
def filter_name(string):
    del_chars = ['[',']','"','1','2','3','4','5','6','7','8','9','0',"'"]
    return_string = string
    for char in string:
        if char in del_chars:
            return_string = return_string.replace(char,'')
    
    return_string = return_string.strip()
    return (return_string)

def winner(x):
    blah = filter_name(x).split(',')
    return (blah[0].strip())

def loser(x):
    blah = filter_name(x).split(',')
    return (blah[-1].strip())

In [68]:
df['Winning Country'] = df['COUNTRIES'].apply(lambda x: winner(x))
df['Losing Country'] = df['COUNTRIES'].apply(lambda x: loser(x))

In [74]:
#join the locations

df_right = df_countries[['ISO ALPHA-3 Code','Coordinates_x','Coordinates_y']]
df_right.columns = ['Winning Country','Winning Country Coord_x','Winning Country Coord_y']
df_2 = pd.merge(df,df_right, how = 'left', on = 'Winning Country')

df_right.columns = ['Losing Country','Losing Country Coord_x','Losing Country Coord_y']
df_2 = pd.merge(df_2,df_right, how = 'left', on = 'Losing Country')

df_right = df_ml
df_right.columns = ['match_location','match_location Coord_x','match_location Coord_y']
df_2 = pd.merge(df_2,df_right, how = 'left', on = 'match_location')

In [59]:
get_distance((17.260487956000077, 64.71258554700006, -6.945179999999937, 37.25455000000005))

3444.5518551479604

In [71]:
from math import sin, cos, sqrt, atan2, radians

# approximate radius of earth in km
def get_distance(a,b,c,d):
    
    R = 6373.0
    lat1 = radians(a)
    lon1 = radians(b)
    lat2 = radians(c)
    lon2 = radians(d)
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    return (distance)

In [79]:
get_distance(52.2296756,21.0122287,52.406374,16.9251681)

278.54558935106695

In [80]:
df_2['Winner Distance'] = df_2.apply(lambda x: get_distance(x['Winning Country Coord_x'],x['Winning Country Coord_y'],
                                                           x['match_location Coord_x'],x['match_location Coord_y']), axis = 1)
df_2['Loser Distance'] = df_2.apply(lambda x: get_distance(x['Losing Country Coord_x'],x['Losing Country Coord_y'],
                                                           x['match_location Coord_x'],x['match_location Coord_y']), axis = 1)

In [86]:
df_2.head(300)

,COUNTRIES,EVENT,PLAYERS,SCORES,match_location,match_week,Winning Country,Losing Country,Winning Country Coord_x,Winning Country Coord_y,Losing Country Coord_x,Losing Country Coord_y,match_location Coord_x,match_location Coord_y,Winner Distance,Loser Distance
0,"['[SWE] ', '[GER] ']",MS,"['Jacob Nilsson', 'Kai Schaefer']","['21-14', '22-20']","Huelva, Spain",20180424,SWE,GER,17.260488,64.712586,10.392278,51.110631,-6.94518,37.25455,4044.499342,2464.519258
1,"['[SUI] ', '[RUS] ']",WS,"['Sabrina Jaquet', 'Natalia Perminova']","['21-17', '13-21', '21-17']","Huelva, Spain",20180424,SUI,RUS,8.245024,46.799817,96.805372,61.989526,-6.94518,37.25455,1993.802113,11469.444434
2,"['[RUS] ', '[RUS] ', '[ENG] ', '[ENG] ']",XD,"['Rodion Alimov', 'Alina Davletova', 'Ben Lane...","['21-19', '27-25']","Huelva, Spain",20180424,RUS,ENG,96.805372,61.989526,-1.458628,52.592743,-6.94518,37.25455,11469.444434,1806.962309
3,"['[ENG] ', '[ENG] ', '[NED] ', '[NED] ']",XD,"['Marcus Ellis [3]', 'Lauren Smith', 'Robin Ta...","['17-21', '21-11', '21-15']","Huelva, Spain",20180424,ENG,NED,-1.458628,52.592743,5.616126,52.249375,-6.94518,37.25455,1806.962309,2173.108169
4,"['[FRA] ', '[FRA] ', '[NED] ', '[NED] ']",XD,"['Bastian Kersaudy', 'Lea Palermo', 'Jelle Maa...","['23-21', '21-12']","Huelva, Spain",20180424,FRA,NED,2.550540,46.559417,5.616126,52.249375,-6.94518,37.25455,1477.401661,2173.108169
5,"['[RUS] ', '[CZE] ']",MS,"['Sergey Sirant', 'Milan Ludik']","['21-11', '21-11']","Huelva, Spain",20180424,RUS,CZE,96.805372,61.989526,15.331770,49.738854,-6.94518,37.25455,11469.444434,2834.271380
6,"['[DEN] ', '[DEN] ', '[IRL] ', '[IRL] ']",XD,"['Mathias Christiansen [2]', 'Christinna Peder...","['21-18', '21-16']","Huelva, Spain",20180424,DEN,IRL,10.053934,55.959301,-8.146006,53.175880,-6.94518,37.25455,2805.107980,1760.533879
7,"['[DEN] ', '[DEN] ', '[FRA] ', '[FRA] ']",XD,"['Joachim Fischer Nielsen', 'Alexandra BÃ¸je', ...","['21-16', '23-21']","Huelva, Spain",20180424,DEN,FRA,10.053934,55.959301,2.550540,46.559417,-6.94518,37.25455,2805.107980,1477.401661
8,"['[GER] ', '[BUL] ']",WS,"['Luise Heim', 'Linda Zetchiri']","['21-19', '21-17']","Huelva, Spain",20180424,GER,BUL,10.392278,51.110631,25.236412,42.755008,-6.94518,37.25455,2464.519258,3628.724839
9,"['[ENG] ', '[FRA] ']",MS,"['Toby Penty', 'Lucas Claerbout']","['21-10', '21-7']","Huelva, Spain",20180424,ENG,FRA,-1.458628,52.592743,2.550540,46.559417,-6.94518,37.25455,1806.962309,1477.401661
10,"['[ENG] ', '[AUT] ']",MS,"['Sam Parsons', 'Luka Wraber']","['21-19', '23-21']","Huelva, Spain",20180424,ENG,AUT,-1.458628,52.592743,14.137077,47.585810,-6.94518,37.25455,1806.962309,2607.522945
11,"['[SVK] ', '[SVK] ', '[AUT] ', '[AUT] ']",XD,"['Milan Dratva', 'Martina Repiska', 'Dominik S...","['21-17', '17-21', '21-15']","Huelva, Spain",20180424,SVK,AUT,19.487749,48.708702,14.137077,47.585810,-6.94518,37.25455,3196.639290,2607.522945
12,"['[BEL] ', '[HUN] ']",WS,"['Lianne Tan', 'Agnes Korosi']","['21-19', '21-19']","Huelva, Spain",20180424,BEL,HUN,4.661070,50.640683,19.424532,47.167089,-6.94518,37.25455,1968.510064,3127.661467
13,"['[HUN] ', '[ITA] ']",MS,"['Gergely Krausz', 'Rosario Maddaloni']","['21-18', '21-18']","Huelva, Spain",20180424,HUN,ITA,19.424532,47.167089,12.833330,42.833330,-6.94518,37.25455,3127.661467,2284.734157
14,"['[GER] ', '[FIN] ']",MS,"['Alexander Roovers', 'Kalle Koljonen']","['21-18', '14-21', '21-16']","Huelva, Spain",20180424,GER,FIN,10.392278,51.110631,26.158834,64.522513,-6.94518,37.25455,2464.519258,4714.134835
15,"['[CZE] ', '[POR] ']",MS,"['Adam Mendrek', 'Duarte Nuno Anjo']","['21-14', '21-14']","Huelva, Spain",20180424,CZE,POR,15.331770,49.738854,-8.519813,39.593139,-6.94518,37.25455,2834.271380,311.624052
16,"['[NED] ', '[NED] ', '[SUI] ', '[SUI] ']",XD,"['Jacco Arends [4]', 'Selena Piek', 'Oliver Sc...","['21-14', '21-11']","Huelva, Spain",20180424,NED,SUI,5.616126,52.249375,8.245024,46.799817,-6.94518,37.25455,2173.108169,1993.802113
17,"['[FIN] ', '[SVK] ']",WS,"['Airi Mikkela', 'Martina Repiska']","['21-12', '21-10']","Huelva, Spain",20180424,FIN,SVK,26.158834,64.522513,19.487749,48.708702,-6.94518,37.25455,4714.134835,3196.639290
18,"['[SUI] ', '[MDA] ']",MS,"['Christian Kirchmayr', 'Cristian Savin']","['21-17', '22-20']","Huelva, Spain",20180424,SUI,MDA,8.245024,46.799817,28.463706,47.201028,-6.94518,37.25455,1993.802113,4080.581063
19,"['[FRA] ', '[FRA] ', '[CZE] ', '[CZE] ']",XD,"['Ronan Labar [8]', 'Audrey Fontaine', 'Jakub ...","['21-15', '21-17']","Huelva, Spain",20180424,FRA,CZE,2.550540,46.559417,15.331770,49.738854,-6.94518,37.25455,1477.401661,2834.271380
20,"['[ESP] ', '[CRO] ']",MS,"['LuÃ­s Enrique PeÃ±alver', 'Zvonimir Durkinjak']","['21-19', '13-21', '21-13']","Huelva, Spain",20180424,ESP,CRO,-3.646063,40.227950,15.435624,45.118680,-6.94518,37.25455,493.031371,2635.954819
21,"['[UKR] ', '[WAL] ']",WS,"['Maria Ulitina', 'Jordan Hart']","['22-20', '19-21', '21-14']","Huelva, Spain",20180424,UKR,WAL,31.374926,49.026898,-3.765222,52.337154,-6.94518,37.25455,4442.370172,1707.095896
22,"['[TUR] ', '[ESP] ']",WS,"['Aliye Demirbag', 'Clara Azurmendi']",[],"Huelva, Spain",20180424,TUR,ESP,35.142286,39.066251,-3.646063,40.227950,-6.94518,37.25455,4685.238615,493.031371
23,"['[DEN] ', '[DEN] ', '[EST] ', '[EST] ']",XD,"['Niclas Nohr', 'Sara Thygesen', 'Sander Merit...","['21-9', '21-11']","Huelva, Spain",20180424,DEN,EST,10.053934,55.959301,25.477224,58.672041,-6.94518,37.25455,2805.107980,4286.163440
24,"['[GER] ', '[GER] ', '[UKR] ', '[UKR] ']",XD,"['Marvin Emil Seidel [7]', 'Linda Efler', 'Art...","['21-15', '21-11']","Huelva, Spain",20180424,GER,UKR,10.392278,51.110631,31.374926,49.026898,-6.94518,37.25455,2464.519258,4442.370172
25,"['[DEN] ', '[AZE] ']",MS,"['Jan O Jorgensen', 'Orkhan Galandarov']","['21-3', '21-7']","Huelva, Spain",20180424,DEN,AZE,10.053934,55.959301,47.528707,40.290162,-6.94518,37.25455,2805.107980,6066.483197
26,"['[ROU] ', '[CYP] ']",MS,"['Collins Valentine Filimon', 'Elias Nicolaou']","['21-8', '16-21', '21-11']","Huelva, Spain",20180424,ROU,CYP,24.973472,45.845855,33.223054,35.049963,-6.94518,37.25455,3670.211607,4473.975194
27,"['[ENG] ', '[CRO] ']",WS,"['Chloe Birch', 'Maja Pavlinic']","['21-18', '21-11']","Huelva, Spain",20180424,ENG,CRO,-1.458628,52.592743,15.435624,45.118680,-6.94518,37.25455,1806.962309,2635.954819
28,"['[IRL] ', '[ISL] ']",MS,"['Nhat Nguyen', 'Kari Gunnarsson']","['21-16', '21-17']","Huelva, Spain",20180424,IRL,ISL,-8.146006,53.175880,-18.582382,64.986957,-6.94518,37.25455,1760.533879,3268.225796
29,"['[GER] ', '[CYP] ']",WS,"['Yvonne Li', 'Eleni Christodoulou']","['21-6', '21-3']","Huelva, Spain",20180424,GER,CYP,10.392278,51.110631,33.223054,35.049963,-6.94518,37.25455,2464.519258,4473.975194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,"['[LAT] ', '[FRA] ']",WS - Qualification,"['Ieva Pope', 'Juliane Piron']","['21-7', '21-14']","Caldas da Rainha, Portugal",20180308,LAT,FRA,24.926839,56.854610,2.550540,46.559417,-9.13996,39.41055,4235.028210,1522.778326
271,"['[GIB] ', '[GIB] ', '[POR] ', '[POR] ']",MD - Qualification,"['Ivan De Haro', 'James Linares', 'Manuel Bran...","['21-15', '17-21', '21-17']","Caldas da Rainha, Portugal",20180308,GIB,POR,-5.348662,36.136008,-8.519813,39.593139,-9.13996,39.41055,555.280696,71.838904
272,"['[ENG] ', '[ESP] ']",MS - Qualification,"['Johnnie Torjussen', 'Manuel Brea Filloy']","['21-9', '21-13']","Caldas da Rainha, Portugal",20180308,ENG,ESP,-1.458628,52.592743,-3.646063,40.227950,-9.13996,39.41055,1690.617507,617.723635
273,"['[SUI] ', '[SUI] ']",MS - Qualification,"['Tobias Kuenzi', 'Quentin Filliettaz']","['21-15', '21-19']","Caldas da Rainha, Portugal",20180308,SUI,SUI,8.245024,46.799817,8.245024,46.799817,-9.13996,39.41055,2099.905794,2099.905794
274,"['[DEN] ', '[SWE] ']",WS - Qualification,"['Anna Thea Madsen [6]', 'Johanna Magnusson']","['21-12', '21-10']","Caldas da Rainha, Portugal",20180308,DEN,SWE,10.053934,55.959301,17.260488,64.712586,-9.13996,39.41055,2813.211988,4044.841215
275,"['[TPE] ', '[TPE] ', '[NOR] ', '[NOR] ']",MD - Qualification,"['Chen Ching Wei', 'Hu Chuan-En', 'Torjus Flaa...","['14-21', '21-19', '21-17']","Caldas da Rainha, Portugal",20180308,TPE,NOR,120.953464,23.752816,10.000000,62.000000,-9.13996,39.41055,14314.861941,3284.248375
276,"['[TPE] ', '[TPE] ', '[GER] ', '[GER] ']",XD,"['Lin Yong Sheng', 'Lin Hsiang Ti', 'Johannes ...","['21-18', '17-21', '21-15']","Caldas da Rainha, Portugal",20180308,TPE,GER,120.953464,23.752816,10.392278,51.110631,-9.13996,39.41055,14314.861941,2529.235963
277,"['[GER] ', '[GER] ', '[ENG] ', '[ENG] ']",XD,"['Patrick Scheiel', 'Franziska Volkmann', 'Ste...","['21-19', '21-16']","Caldas da Rainha, Portugal",20180308,GER,ENG,10.392278,51.110631,-1.458628,52.592743,-9.13996,39.41055,2529.235963,1690.617507
278,"['[FIN] ', '[BUL] ']",MS,"['Eetu Heino [3]', 'Ivan Rusev']","['21-19', '21-15']","Caldas da Rainha, Portugal",20180308,FIN,BUL,26.158834,64.522513,25.236412,42.755008,-9.13996,39.41055,4773.207136,3840.812581
279,"['[DEN] ', '[ESP] ']",MS,"['Mads Christophersen', 'LuÃ­s Enrique PeÃ±alver...","['16-21', '21-10', '21-19']","Caldas da Rainha, Portugal",20180308,DEN,ESP,10.053934,55.959301,-3.646063,40.227950,-9.13996,39.41055,2813.211988,617.723635
280,"['[POL] ', '[POR] ']",MS,"['Adrian Dziolko', 'Duarte Nuno Anjo [8]']","['21-12', '21-17']","Caldas da Rainha, Portugal",20180308,POL,POR,19.398769,52.123790,-8.519813,39.593139,-9.13996,39.41055,3466.687752,71.838904
281,"['[DEN] ', '[ESP] ']",WS,"['Irina Amalie Andersen [5]', 'Sara Penalver P...","['21-19', '11-21', '23-21']","Caldas da Rainha, Portugal",20180308,DEN,ESP,10.053934,55.959301,-3.646063,40.227950,-9.13996,39.41055,2813.211988,617.723635
282,"['[DEN] ', '[FRA] ']",WS,"['Anna Thea Madsen', 'Yaelle Hoyaux']","['21-15', '21-12']","Caldas da Rainha, Portugal",20180308,DEN,FRA,10.053934,55.959301,2.550540,46.559417,-9.13996,39.41055,2813.211988,1522.778326
283,"['[AUT] ', '[AUT] ', '[EST] ', '[EST] ']",MD,"['Philip Birker', 'Dominik Stipsits', 'Mihkel ...","['21-14', '21-17']","Caldas da Rainha, Portugal",20180308,AUT,EST,14.137077,47.585810,25.477224,58.672041,-9.13996,39.41055,2741.770109,4379.036878
284,"['[ENG] ', '[ENG] ', '[NOR] ', '[NOR] ']",MD,"['Max Flynn', 'Michael Roe', 'Magnus Christens...","['21-17', '21-18']","Caldas da Rainha, Portugal",20180308,ENG,NOR,-1.458628,52.592743,10.000000,62.000000,-9.13996,39.41055,1690.617507,3284.248375
285,"['[TPE] ', '[TPE] ', '[GER] ', '[GER] ']",WD,"['Li Zi Qing', 'Teng Chun Hsun', 'Anika DÃ¶rr',...","['21-19', '21-17']","Caldas da Rainha, Portugal",20180308,TPE,GER,120.953464,23.752816,10.392278,51.110631,-9.13996,39.41055,14314.861941,2529.235963
286,"['[TPE] ', '[TPE] ', '[AUT] ', '[AUT] ']",XD,"['Lin Yong Sheng', 'Lin Hsiang Ti', 'Dominik S...","['21-10', '21-15']","Caldas da Rainha, Portugal",20180308,TPE,AUT,120.953464,23.752816,14.137077,47.585810,-9.13996,39.41055,14314.861941,2741.770109
287,"['[TPE] ', '[TPE] ', '[GER] ', '[GER] ']",XD,"['Su Li Wei', 'Kuo Yen Chi', 'Patrick Scheiel'...","['23-21', '21-16']","Caldas da Rainha, Portugal",20180308,TPE,GER,120.953464,23.752816,10.392278,51.110631,-9.13996,39.41055,14314.861941,2529.235963
288,"['[DEN] ', '[FIN] ']",MS,"['Rasmus Messerschmidt', 'Eetu Heino [3]']","['21-16', '21-18']","Caldas da Rainha, Portugal",20180308,DEN,FIN,10.053934,55.959301,26.158834,64.522513,-9.13996,39.41055,2813.211988,4773.207136
289,"['[TPE] ', '[BUL] ']",WS,"['Lin Hsiang Ti', 'Mariya Mitsova [3]']","['21-13', '21-15']","Caldas da Rainha, Portugal",20180308,TPE,BUL,120.953464,23.752816,25.236412,42.755008,-9.13996,39.41055,14314.861941,3840.812581
290,"['[CHN] ', '[DEN] ']",WS,"['Qi Xuefei [6]', 'Amalie Hertz']","['21-18', '21-14']","Caldas da Rainha, Portugal",20180308,CHN,DEN,103.930027,36.567348,10.053934,55.959301,-9.13996,39.41055,12574.729248,2813.211988
291,"['[TPE] ', '[TPE] ', '[MEX] ', '[MEX] ']",MD,"['Lu Chen', 'Ye Hong Wei', 'Job Castillo [4]',...","['21-16', '21-9']","Caldas da Rainha, Portugal",20180308,TPE,MEX,120.953464,23.752816,-102.548353,23.952825,-9.13996,39.41055,14314.861941,10340.273932
292,"['[SCO] ', '[SCO] ', '[FRA] ', '[FRA] ']",WD,"['Julie Macpherson [1]', ""Eleanor O'Donnell"", ...","['22-20', '21-16']","Caldas da Rainha, Portugal",20180308,SCO,FRA,-4.181133,56.840405,2.550540,46.559417,-9.13996,39.41055,2002.372875,1522.778326
293,"['[TPE] ', '[TPE] ', '[EST] ', '[EST] ']",WD,"['Li Zi Qing', 'Teng Chun Hsun', 'Kristin Kuub...","['21-10', '23-21']","Caldas da Rainha, Portugal",20180308,TPE,EST,120.953464,23.752816,25.477224,58.672041,-9.13996,39.41055,14314.861941,4379.036878
294,"['[SWE] ', '[SWE] ', '[ENG] ', '[SCO] ']",WD,"['Klara Johansson', 'Moa Sjoo', 'Jessica Hopto...","['22-20', '15-21', '21-10']","Caldas da Rainha, Portugal",20180308,SWE,SCO,17.260488,64.712586,-4.181133,56.840405,-9.13996,39.41055,4044.841215,2002.372875
295,"['[IRL] ', '[IRL] ', '[EST] ', '[EST] ']",XD,"['Paul Reynolds', 'Rachael Darragh', 'Marcus L...","['21-17', '21-16']","Caldas da Rainha, Portugal",20180308,IRL,EST,-8.146006,53.175880,25.477224,58.672041,-9.13996,39.41055,1517.657139,4379.036878
296,"['[DEN] ', '[POL] ']",MS,"['Victor Svendsen [1]', 'Michal Rogalski']","['21-15', '22-20']","Caldas da Rainha, Portugal",20180308,DEN,POL,10.053934,55.959301,19.398769,52.123790,-9.13996,39.41055,2813.211988,3466.687752
297,"['[DEN] ', '[SWE] ']",MS,"['Rasmus Messerschmidt', 'Jacob Nilsson']","['21-18', '14-21', '21-15']","Caldas da Rainha, Portugal",20180308,DEN,SWE,10.053934,55.959301,17.260488,64.712586,-9.13996,39.41055,2813.211988,4044.841215
298,"['[FIN] ', '[GER] ']",MS,"['Iikka Heino', 'Lars Schaenzler']","['21-15', '21-15']","Caldas da Rainha, Portugal",20180308,FIN,GER,26.158834,64.522513,10.392278,51.110631,-9.13996,39.41055,4773.207136,2529.235963
299,"['[RUS] ', '[EST] ']",WS,"['Natalia Perminova [1]', 'Getter Saar']","['21-13', '7-21', '21-15']","Caldas da Rainha, Portugal",20180308,RUS,EST,96.805372,61.989526,25.477224,58.672041,-9.13996,39.41055,11724.923979,4379.036878

In [82]:
df_2['Winner Distance'].mean()

4128.83987783714

In [83]:
df_2['Loser Distance'].mean()

3411.6552096398377

In [84]:
df_2.to_csv('Match Distances.csv')

In [85]:
len(df_2)

15624