In [44]:
# import googlemaps
# from datetime import datetime

# gmaps = googlemaps.Client(key='AIzaSyCpvPbDt3iFart1-C717bEmrBlBMllWdss')

In [45]:
# a = gmaps.geocode('2810 Yonge Street, Toronto')

In [46]:
# from arcgis.gis import GIS
# from arcgis.features import SpatialDataFrame

In [47]:
# gis = GIS("https://www.arcgis.com", "azhuang")

In [21]:
from arcgis.gis import *
from arcgis.geocoding import geocode, reverse_geocode
from arcgis.geometry import Point

In [22]:
dev_gis = GIS()

In [23]:
map1 = dev_gis.map("Los Angeles, CA", zoomlevel=11)

In [24]:
map1

MapView(layout=Layout(height='400px', width='100%'), zoom=11.0)

In [29]:
geocode_result = geocode(address="Hollywood sign", as_featureset=False)

In [40]:
geocode("Toronto,Canada")[0]['attributes']['DisplayX']

-79.38543999999996

In [41]:
geocode("Toronto,Canada")[0]['attributes']['DisplayY']

43.648690000000045

In [42]:
geocode("Pinawa, Manitoba")[0]['attributes']['DisplayX']

-95.88073999999995

In [43]:
geocode("Pinawa, Manitoba")[0]['attributes']['DisplayY']

50.15082000000007

In [48]:
import pandas as pd
from tqdm import tqdm
import re

In [66]:
# Join the files
df = pd.DataFrame()
import glob


for filename in glob.glob('./2018 Tournaments/*.csv'):
    df_temp = pd.read_csv(filename)
    del df_temp['Unnamed: 0']
    df = df.append(df_temp)

for filename in glob.glob('./2017 Tournaments/*.csv'):
    df_temp = pd.read_csv(filename)
    del df_temp['Unnamed: 0']
    df = df.append(df_temp)

#Must have location
df = df[df['match_location'].isnull() == False]

c:\users\andrew.zhuang\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [97]:
#Get the locations in the form of Longatude and latitude

from arcgis.gis import *
from arcgis.geocoding import geocode, reverse_geocode
from arcgis.geometry import Point

df_countries = pd.read_csv('country_list.csv', encoding='Latin-1')
del df_countries['Unnamed: 0']

ylong_xlat = []
for country in tqdm(df_countries['Country or Area Name']):
    ylong_xlat.append((geocode(country)[0]['attributes']['DisplayX'], geocode(country)[0]['attributes']['DisplayY']))
df_countries['Coordinates'] = ylong_xlat
df_countries.to_csv('country_list.csv')


location = []
ylong_xlat = []

for loc in tqdm(df['match_location'].unique()):
    location.append(loc)
    ylong_xlat.append((geocode(loc)[0]['attributes']['DisplayX'], geocode(loc)[0]['attributes']['DisplayY']))
    
df_ml = pd.DataFrame()
df_ml['match_location'] = location
df_ml['Coordinates'] = ylong_xlat

100%|████████████████████████████████████████████████████████████████████████████████| 247/247 [02:14<00:00,  1.83it/s]

In [147]:
def filter_name(string):
    del_chars = ['[',']','"','1','2','3','4','5','6','7','8','9','0',"'"]
    return_string = string
    for char in string:
        if char in del_chars:
            return_string = return_string.replace(char,'')
    
    return_string = return_string.strip()
    return (return_string)

def winner(x):
    blah = filter_name(x).split(',')
    return (blah[0].strip())

def loser(x):
    blah = filter_name(x).split(',')
    return (blah[-1].strip())

In [148]:
df['Winning Country'] = df['COUNTRIES'].apply(lambda x: winner(x))
df['Losing Country'] = df['COUNTRIES'].apply(lambda x: loser(x))

c:\users\andrew.zhuang\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
c:\users\andrew.zhuang\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [123]:
df.head()

,COUNTRIES,EVENT,PLAYERS,SCORES,match_location,match_week,Winning Country,Losing Country
0,"['[SWE] ', '[GER] ']",MS,"['Jacob Nilsson', 'Kai Schaefer']","['21-14', '22-20']","Huelva, Spain",20180424,SWE,GER
1,"['[SUI] ', '[RUS] ']",WS,"['Sabrina Jaquet', 'Natalia Perminova']","['21-17', '13-21', '21-17']","Huelva, Spain",20180424,SUI,RUS
2,"['[RUS] ', '[RUS] ', '[ENG] ', '[ENG] ']",XD,"['Rodion Alimov', 'Alina Davletova', 'Ben Lane...","['21-19', '27-25']","Huelva, Spain",20180424,RUS,ENG
3,"['[ENG] ', '[ENG] ', '[NED] ', '[NED] ']",XD,"['Marcus Ellis [3]', 'Lauren Smith', 'Robin Ta...","['17-21', '21-11', '21-15']","Huelva, Spain",20180424,ENG,NED
4,"['[FRA] ', '[FRA] ', '[NED] ', '[NED] ']",XD,"['Bastian Kersaudy', 'Lea Palermo', 'Jelle Maa...","['23-21', '21-12']","Huelva, Spain",20180424,FRA,NED

In [159]:
#join the locations
df_right = df_countries[['ISO ALPHA-3 Code','Coordinates']]
df_right.columns = ['Winning Country','Winning Country Coord']
test = pd.merge(df,df_right, how = 'left', on = 'Winning Country')

In [163]:
#Need to update the country table with these 3 letter country codes

test[test['Winning Country Coord'].isnull()]['Winning Country'].unique()

array(['SUI', 'ENG', 'DEN', 'GER', 'NED', 'BUL', 'SLO', 'SCO', 'GUA',
       'POR', 'TPE', 'LAT', 'GRE', 'NGR', 'ALG', 'SEY', 'MRI', 'ZAM',
       'ZIM', 'INA', 'MAS', 'CHI', 'ESA', 'NEP', 'VIE', 'BRU', 'SRI',
       'CRO', 'MYA', 'GLD', 'WAL', 'IRI', 'BAR', 'FIJ', 'CRC', 'RSA',
       'BOT', 'PHI', 'MAD', 'MGL', ''], dtype=object)

In [ ]:
#

In [140]:
df_right[df_right['Winning Country'] == 'SWE']

    Winning Country                    Winning Country Coord
213             SWE  (17.260487956000077, 64.71258554700006)

In [149]:
df.iloc[0]['Winning Country']

'SWE'

In [157]:
df_countries[df_countries['Country or Area Name'] == 'Indonesia']

,Country or Area Name,ISO ALPHA-3 Code,Coordinates
103,Indonesia,IDN,"(113.91586500000005, -0.989818181999965)"

In [154]:
df_countries

,Country or Area Name,ISO ALPHA-3 Code,Coordinates
0,Afghanistan,AFG,"(66.02471179700007, 33.831137065000064)"
1,Aland Islands,ALA,"(20.000000000000057, 60.25000000000006)"
2,Albania,ALB,"(20.06420643100006, 41.13455328400005)"
3,Algeria,DZA,"(2.6799659330000623, 28.144113769000057)"
4,American Samoa,ASM,"(-170.71811612199997, -14.30068805999997)"
5,Andorra,AND,"(1.5762863020000282, 42.54530320100008)"
6,Angola,AGO,"(17.545335193000028, -12.293655625999975)"
7,Anguilla,AIA,"(-63.05962295599994, 18.224602780000055)"
8,Antarctica,ATA,"(16.40626000000003, -78.15855999999997)"
9,Antigua and Barbuda,ATG,"(-61.79871012099994, 17.077664637000055)"
10,Argentina,ARG,"(-65.07154210799996, -35.49575818399995)"
11,Armenia,ARM,"(44.94022131100007, 40.293084855000075)"
12,Aruba,ABW,"(-69.97050301699994, 12.50908537500004)"
13,Australia,AUS,"(134.48403119800003, -25.70993156999998)"
14,Austria,AUT,"(14.137076948000072, 47.58581000500004)"
15,Azerbaijan,AZE,"(47.52870740700007, 40.29016196900005)"
16,Bahamas,BHS,"(-77.37121999999994, 25.040820000000053)"
17,Bahrain,BHR,"(50.564426954000055, 26.05185877400004)"
18,Bangladesh,BGD,"(90.28845390100008, 23.804670475000023)"
19,Barbados,BRB,"(-59.55642447799994, 13.172221979000028)"
20,Belarus,BLR,"(28.050095379000027, 53.542208696000046)"
21,Belgium,BEL,"(4.661070427000027, 50.640682937000065)"
22,Belize,BLZ,"(-88.69496155299998, 17.209050260000026)"
23,Benin,BEN,"(2.33919688900005, 9.661949812000046)"
24,Bermuda,BMU,"(-64.77004183699995, 32.30681773200007)"
25,Bhutan,BTN,"(90.42623098500007, 27.41482682700007)"
26,Bolivia,BOL,"(-64.59749402799997, -16.67085566199995)"
27,Bosnia and Herzegovina,BIH,"(17.785249916000055, 44.168254123000054)"
28,Botswana,BWA,"(23.814376269000036, -22.187290210999947)"
29,Bouvet Island,BVT,"(3.400000000000034, -54.433329999999955)"
...,...,...,...
217,Tajikistan,TJK,"(71.00000000000006, 39.00000000000006)"
218,"Tanzania, United Republic of",TZA,"(34.995322712000075, -6.438400132999959)"
219,Thailand,THA,"(101.01223920600006, 15.11680278700004)"
220,Timor-Leste,TLS,"(125.85392670100009, -8.82624399399998)"
221,Togo,TGO,"(0.9744440640000676, 8.539049810000051)"
222,Tokelau,TKL,"(-171.21984997299998, -9.374827015999927)"
223,Tonga,TON,"(-175.27562999999998, -21.158658678999927)"
224,Trinidad and Tobago,TTO,"(-61.26048813699998, 10.47267427600002)"
225,Tunisia,TUN,"(9.60851649600005, 34.11631798800005)"
226,Turkey,TUR,"(35.142286272000035, 39.066250645000025)"
227,Turkmenistan,TKM,"(59.17525293600005, 39.19335818400003)"
228,Turks and Caicos Islands,TCA,"(-71.82311799799999, 21.758132630000034)"
229,Tuvalu,TUV,"(178.67158000000006, -7.47055919099995)"
230,Uganda,UGA,"(32.335706651000066, 1.513805689000037)"
231,Ukraine,UKR,"(31.374926053000024, 49.02689837500003)"
232,United Arab Emirates,ARE,"(54.32685818400006, 23.914869621000037)"
233,United Kingdom,GBR,"(-1.9695595439999352, 53.40838660500003)"
234,United States of America,USA,"(-99.41461918999994, 39.39870315600007)"
235,US Minor Outlying Islands,UMI,"(-162.07479499999997, 5.875525703000051)"
236,Uruguay,URY,"(-56.02075792399995, -32.79326568999994)"
237,Uzbekistan,UZB,"(63.42188301400006, 41.58134563700003)"
238,Vanuatu,VUT,"(166.8727570740001, -15.241355872999975)"
239,Venezuela (Bolivarian Republic),VEN,"(-66.16282028899997, 7.120733800000039)"
240,Viet Nam,VNM,"(107.83333000000005, 16.166670000000067)"
241,"Virgin Islands, US",VIR,"(-64.81908749999997, 17.728114454000035)"
242,Wallis and Futuna Islands,WLF,"(-176.20444988799997, -13.28501745799997)"
243,Western Sahara,ESH,"(-13.13948587699997, 24.658502978000058)"
244,Yemen,YEM,"(47.59395262500004, 15.905205994000028)"
245,Zambia,ZMB,"(28.76797288100005, -14.46880366299996)"
246,Zimbabwe,ZWE,"(29.884276749000037, -19.016205470999978)"

In [90]:
country_set = set()
for row in country_list:
    countries = filter_name(row).split(',')
    for c in countries:
        country_set.add(c.strip())

In [91]:
country_set

{'',
 'AFG',
 'ALG',
 'ARG',
 'ARM',
 'AUS',
 'AUT',
 'AZE',
 'BAN',
 'BAR',
 'BDI',
 'BEL',
 'BEN',
 'BLR',
 'BOL',
 'BOT',
 'BRA',
 'BRN',
 'BRU',
 'BUL',
 'CAL',
 'CAN',
 'CGO',
 'CHI',
 'CHN',
 'CIV',
 'CMR',
 'COD',
 'COK',
 'COL',
 'CRC',
 'CRO',
 'CUB',
 'CYP',
 'CZE',
 'DEN',
 'DOM',
 'ECU',
 'EGY',
 'ENG',
 'ESA',
 'ESP',
 'EST',
 'FIJ',
 'FIN',
 'FRA',
 'GER',
 'GHA',
 'GIB',
 'GLD',
 'GRE',
 'GUA',
 'GUM',
 'HKG',
 'HUN',
 'INA',
 'IND',
 'IRI',
 'IRL',
 'IRQ',
 'ISL',
 'ISR',
 'ITA',
 'JAM',
 'JOR',
 'JPN',
 'KAZ',
 'KEN',
 'KOR',
 'LAO',
 'LAT',
 'LTU',
 'LUX',
 'MAC',
 'MAD',
 'MAR',
 'MAS',
 'MDA',
 'MDV',
 'MEX',
 'MGL',
 'MLT',
 'MRI',
 'MYA',
 'NED',
 'NEP',
 'NGR',
 'NOR',
 'NZL',
 'PAK',
 'PAN',
 'PER',
 'PHI',
 'POL',
 'POR',
 'PYF',
 'REU',
 'ROU',
 'RSA',
 'RUS',
 'SCO',
 'SEY',
 'SGP',
 'SLO',
 'SRB',
 'SRI',
 'SUD',
 'SUI',
 'SUR',
 'SVK',
 'SWE',
 'SYR',
 'THA',
 'TPE',
 'TTO',
 'TUN',
 'TUR',
 'UGA',
 'UKR',
 'USA',
 'UZB',
 'VIE',
 'WAL',
 'ZAM',
 'ZIM'}

In [92]:
len(country_set)

125

In [158]:
df_out = pd.DataFrame()
df_out['Country Code'] = list(country_set)
df_out.to_csv('TS_countries.csv')

In [ ]:
#Make Country Key and Macth location Key 
# Attach to df
# Calculate distances

In [73]:
df.head()

,COUNTRIES,EVENT,PLAYERS,SCORES,match_location,match_week
0,"['[SWE] ', '[GER] ']",MS,"['Jacob Nilsson', 'Kai Schaefer']","['21-14', '22-20']","Huelva, Spain",20180424
1,"['[SUI] ', '[RUS] ']",WS,"['Sabrina Jaquet', 'Natalia Perminova']","['21-17', '13-21', '21-17']","Huelva, Spain",20180424
2,"['[RUS] ', '[RUS] ', '[ENG] ', '[ENG] ']",XD,"['Rodion Alimov', 'Alina Davletova', 'Ben Lane...","['21-19', '27-25']","Huelva, Spain",20180424
3,"['[ENG] ', '[ENG] ', '[NED] ', '[NED] ']",XD,"['Marcus Ellis [3]', 'Lauren Smith', 'Robin Ta...","['17-21', '21-11', '21-15']","Huelva, Spain",20180424
4,"['[FRA] ', '[FRA] ', '[NED] ', '[NED] ']",XD,"['Bastian Kersaudy', 'Lea Palermo', 'Jelle Maa...","['23-21', '21-12']","Huelva, Spain",20180424